.servicestile {
  margin: 0 auto;
  max-width: 1920px;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0.6) 100%
    ),
    url("https://firebasestorage.googleapis.com/v0/b/design-quotient.appspot.com/o/baloonsabout.webp?alt=media&token=ec002b94-bf32-4656-8b83-6fe679396626") !important;
  background-position: 0 -120px;
  background-repeat: repeat;
  filter: grayscale(60%);
}
