.servicestile {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0.6) 100%
    ),
    url("../public/baloonsabout.png");
  background-position: 0 -120px;
  background-repeat: repeat-y;
  filter: grayscale(60%);
}
