/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@font-face {
  font-family: "Adelia";
  src: url("https://firebasestorage.googleapis.com/v0/b/design-quotient.appspot.com/o/Adelia.woff?alt=media&token=8702c90e-f272-4726-8bc6-59b0b532c4fe")
    format("woff");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "OstrichSans";
  src: url("https://firebasestorage.googleapis.com/v0/b/design-quotient.appspot.com/o/OstrichSans.woff?alt=media&token=7ecf21fa-4eab-4552-ad53-a09c27b90ad9")
    format("woff");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Qanelas";
  src: url("https://firebasestorage.googleapis.com/v0/b/design-quotient.appspot.com/o/Qanelas.woff?alt=media&token=c9d77c93-a3f8-4075-8a14-804e248ade19")
    format("woff");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}
html {
  font-family: Qanelas, sans-serif !important;
}
body {
  position: relative !important;
}

.css-1fkb66f-control,
.css-1cpuf7w-control {
  border: none !important;
}
.MuiFormLabel-root {
  font-family: "Qanelas", sans-serif !important;
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
  color: black !important;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background: rgb(232, 158, 171);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(232, 158, 171);
}
