.toggler {
  font-family: "Montserrat", sans-serif !important;
  font-weight: bold;
}
.sub-menu li {
  margin: 0;
  padding: 0.5rem;
}
ol {
  list-style-type: none;
  margin: 0.8rem auto 0 auto;
  padding: 0;
}
ol {
  display: flex;
}

.menu-item {
  position: relative;
}
.menu-item a {
  display: block;
  color: #000;
}
.sub-menu .menu-item {
  background: #fff7f5;
  opacity: 0;
  animation: enter 0.1s ease forwards;
}
.sub-menu .menu-item:nth-child(1) {
  animation-duration: 0.2s;
  animation-delay: 0s;
}
.sub-menu .menu-item:nth-child(2) {
  animation-duration: 0.3s;
  animation-delay: 0.1s;
}
.sub-menu .menu-item:nth-child(3) {
  animation-duration: 0.4s;
  animation-delay: 0.2s;
}
.sub-menu .menu-item:nth-child(4) {
  animation-duration: 0.5s;
  animation-delay: 0.3s;
}
.sub-menu .menu-item:nth-child(5) {
  animation-duration: 0.6s;
  animation-delay: 0.4s;
}
.sub-menu .menu-item:nth-child(6) {
  animation-duration: 0.7s;
  animation-delay: 0.5s;
}
.sub-menu .menu-item:nth-child(7) {
  animation-duration: 0.8s;
  animation-delay: 0.6s;
}
.sub-menu .menu-item:nth-child(8) {
  animation-duration: 0.9s;
  animation-delay: 0.7s;
}
.sub-menu .menu-item:nth-child(9) {
  animation-duration: 1s;
  animation-delay: 0.8s;
}
.sub-menu .menu-item:nth-child(10) {
  animation-duration: 1.1s;
  animation-delay: 0.9s;
}
.sub-menu .menu-item:nth-child(11) {
  animation-duration: 1.2s;
  animation-delay: 1s;
}
.sub-menu .menu-item:nth-child(12) {
  animation-duration: 1.3s;
  animation-delay: 1.1s;
}
.sub-menu .menu-item:hover {
  background: #ebcabe;
}

.sub-menu {
  position: absolute;
  width: 225%;
  top: 100%;
  left: 0;
  display: none;
  z-index: 1;
}
/* .menu-item-t:hover + .sub-menu {
  display: block;
} */
.menu-item-t {
  outline: none !important;
  outline-width: 0;
}
a {
  text-decoration: none;
}

@keyframes enter {
  from {
    opacity: 0;
    transform: scaleY(0.98) translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 1023px) {
  .toggler {
    display: none !important;
  }
  .navigate {
    width: 80.3333% !important;
    margin-right: 2.5% !important;
  }
}
.toggler {
  padding-top: 0.5rem;
}

.navvv ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 150%;
}
.navvv li {
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
}
.navvv a {
  display: block;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.dropdown:hover .navvv li a {
  background: #fff7f5;
}
.headerdrp:hover {
  background-color: #fff7f5;
}
.navvv li ul {
  float: left;
  left: -75%;
  top: 0;
  width: 200%;
  margin-top: 0.5rem;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  z-index: 1;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.dropdown:hover .navvv li ul {
  opacity: 1;
  top: 155.5%;
  left: -75%;
  visibility: visible;
}
.navvv li ul li {
  float: none;
  width: 150%;
}
.navvv li ul a:hover {
  background: #ebcabe;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.navrenup li a:hover {
  background: #ebcabe;
}
.menu-item a {
  padding: 0.5rem !important;
}
.toggler::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.toggler {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.divimgg {
  width: fit-content;
}
.border-pink {
  border-color: #e89eab;
}
.navbaar {
  z-index: 999 !important;
}
